<section class="box">
    <div class="info">
        <span>
            <button (click)="onRestart.emit()">Restart</button>
            <button (click)="onUndo.emit()">Undo</button>
            <button *ngIf="accountService.loggedIn()" (click)="onSave.emit()">Save Game</button>
            <p *ngIf="!accountService.loggedIn()">Please log in if you would like to save your game.</p>
        </span>
        <br>

        <p>Move History:</p>
        <div id="move-history" style="white-space: pre-line">{{moveHistory}}</div>
    </div>
</section>