<main class="box">
    <div *ngIf="article">
        <a [href]="article.link">
            <div>
                <h1>{{article.title}}</h1>
                <div class="center">
                    <img [src]="article.media">
                </div>
                <p>by: {{article.author}}</p>
                <p>published on {{article.published_date | date}}</p>
                <p>{{article.summary}} ... (click to read more)</p>
            </div>
        </a>
    </div>
    <p *ngIf="!article">No article loaded into component.</p>
</main>