.container {
    height: auto;
    width: 100%;
    padding: 100px;
    display: flex;
    box-sizing: border-box;
}

.box {
    height: auto;
    width: 300px;
    padding: 60px;
    background-color: #607f4c;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #404040;
    margin: 0 auto;
}

h1 {
    display: block;
    margin: 0;
    margin-bottom: 5vh;
}

.form-group {
    margin-bottom: 3rem;
}

label {
    font-size: large;
    display: block;
    margin-bottom: 0.5rem;
    /* background-color: black; */
}

input {
    font: inherit;
    color: #24221e;
    display: block;
    padding: 0.6em 1em;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #404040;
    border-radius: 5px;
    background-color: #789f5f;
}

input:invalid {
    border:1px solid #c33;
    box-shadow: 0 0 5px #d35353
}

input:focus {
    outline: none !important;
    border:1px solid #3692e7;
    box-shadow: 0 0 5px #719ECE;
}

button {
    display: block;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #3d5130;
    cursor: pointer;
}

button:hover {
    background-color: #557043;
}