<section class="box">
    <h1>Match Info</h1>
    <p>White: {{username}}</p>
    <p>Black: CPU</p>
    Mode: 
    <select name="mode" #select (change)="modeChange.emit(select.value)">
        <option value="random">Random Move Generator</option>
        <option value="AI" selected="selected">Depth 3 Minimax AI</option>
        <option value="localPVP" disabled>Local PvP (to be implemented)</option>
        <option value="OnlinePVP" disabled>Online PvP (to be implemented)</option>
    </select>
    <p *ngIf="select.value === 'AI'">Note: AI may take a moment to generate best move.</p>
</section>