<header>
    <div class="site-title-nav">
        <h1 class="site-title">
            <a href="/">Danny's Chess App</a>
        </h1>
        <nav id="topnav">
            <section>
                <a href="/">Play</a>
            </section>
            <section>
                <a href="/news">News</a>
            </section>
            <section>
                <a href="/forum">Forum</a>
            </section>
            <section>
                <a href="/blog">Blog</a>
            </section>
        </nav>
    </div>
    <div class="site-buttons">
        <a href="/profile">Profile</a>
        <a href="/login">Login</a>
    </div>
</header>