<header>
    <div class="site-title-nav">
        <h1 class="site-title">
            <a href="/">Danny's Chess App</a>
        </h1>
        <nav id="topnav">
            <section>
                <a href="/">Play</a>
            </section>
            <section>
                <a href="/news">News</a>
            </section>
            <section>
                <a href="/forum">Forum</a>
            </section>
            <section>
                <a href="/blog">Blog</a>
            </section>
        </nav>
    </div>
    <div class="site-buttons">
        <section>
            <a *ngIf="accountService.loggedIn()" href="/profile" id="profile">{{accountService.getUsername()}}'s Profile</a>
        </section>
        <section>
            <button *ngIf="!accountService.loggedIn()"><a href="/login">Login</a></button>
            <button *ngIf="accountService.loggedIn()"><a href="/" (click)="logOut()">Log Out</a></button>
        </section>
    </div>
</header>