header {
    display: flex;
    justify-content: space-between;
    background-color: #557043;
    /* background: linear-gradient(to bottom, #3a4c2d, #3a4c2d 100%); */
}

/*nav {
    display: flex;
}*/

.site-title-nav {
    height: 75px;
    display: flex;
    justify-content: flex-start;
}

.site-title {
    font-size: 32px;
    line-height: 37px;
    text-shadow: none;
    white-space: nowrap;
    margin: 0 0.5rem;
    display: flex;
    align-items: center;

    /*background-color: red;*/
}

.site-title a {
    color: #bababa;
    text-decoration: none;

    /*background-color: blue;*/
}

.site-title a:hover {
    color: #3692e7;
}

#topnav {
    font-size: 1.2em;
    display: flex;
}

#topnav section {
    /* flex: 1 0 50%; */
    margin-top: 1rem;
}

#topnav a {
    font-size: 1.2em;
    color: #bababa;
    text-decoration: none;
    /*padding: 0.6em 0 0.7em 0;*/
    margin: 0.6em .5rem 0.6em .5rem;
    margin-left: 1rem;
    padding-left: 0.2rem;
    /* padding-left: 1.2rem; */
    font-weight: bold;
    display: block;
}

#topnav a:hover {
    color: lightgreen;
    border-left: solid 5px lightgreen;
}

/* right side */
.site-buttons {
    display: flex;
}

.site-buttons section {
    margin-top: 1rem;
    margin-right: 1rem;
}

.site-buttons a {
    font-size: 1.2em;
    color: #bababa;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

.profile {
    margin-top: 1rem;
    padding-left: 0.2rem;
}

.profile:hover {
    color: lightgreen;
    border-left: solid 5px lightgreen;
}

.site-buttons button {
    font: inherit;
    text-transform: uppercase;
    text-align: center;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #3d5130;
    cursor: pointer;
    margin: 0.6em 0.5rem;
}

.site-buttons button:hover {
    background-color: #485e39;
}