.box {
    height: auto;
    width: 800px;
    padding: 30px;
    background-color: #607f4c;
    /* border-color: #404040; */
    border-radius: 10px;
    box-shadow: 5px 5px 5px #404040;
    margin: 20px auto;
}