<main>
    <div class="left-panel">
        <app-match-info
            [username]="accountService.getUsername()"
            (modeChange)="onModeChange($event)"
        ></app-match-info>
        <app-chat></app-chat>
    </div>
    <div>
        <!-- <app-board
            (moveChange)="onMoveChange($event)"
        ></app-board> -->
        <ngx-chess-board #board
        [size]="600"
        [lightTileColor]="'#9eba8c'"
        [darkTileColor]="'#557043'"
        [darkDisabled]="blackDisabled"
        (moveChange)="onMoveChange($event)"
    ></ngx-chess-board>
    </div>
    <div>
        <app-controller
            [chess]="chess"
            (onUndo)="undo()"
            (onRestart)="resetGame()"
            (onSave)="saveGame()"
        ></app-controller>
    </div>
</main>
<div id="spacer">
    
</div>