.box {
    height: auto;
    width: 800px;
    padding: 30px;
    background-color: #64844f;
    /* border-color: #404040; */
    border-radius: 10px;
    box-shadow: 5px 5px 5px #404040;
    margin: 50px auto;
}

main {
    width: 100%;
}

h1 {
    font-size: 60px;
    text-align: center;
}

img {
    width: 700px;
}

.horizontal-container {
    display: flex;
}

.horizontal-center {
    display: flex;
    justify-content: center;
}