<div class="box">
    <main>
        <h1>{{post.title}}</h1>
        <div class="horizontal-center">
            <app-game-visualizer *ngIf="post.pgn"
            [pgn]="post.pgn"
        ></app-game-visualizer>
        </div>
        <p>by {{post.author}}</p>
        <p>created on {{post.date | date: 'medium'}}</p>
        <div class="horizontal-container">
            <p>Likes: {{likes.length}}</p>
            <p *ngIf="!accountService.loggedIn()" style="margin-left: 20px;"><em>Please log in to like this post.</em></p>
            <button *ngIf="accountService.loggedIn() && !liked()" type="button" (click)="likePost()">Like</button>
            <button *ngIf="accountService.loggedIn() && liked()" type="button" (click)="unlikePost()">Unlike</button>
        </div>
        <p id="text" [innerHTML]="post.text"></p>
        <span *ngIf="canDelete()"><button (click)="deletePost()">Delete this post</button></span>
    </main>
</div>